  @font-face {
  font-family: "DM_Sans";
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM_Sans;
}


body {
  padding: 1rem;
}

/* header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.06rem 0;
}

.theme-toggle {
  display: flex;
  background-color: #F2F2F7;
  align-items: center;
  justify-items: center;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: none;
}

.theme-toggle > img {
  width: 20px;
  height: 20px;
}

/* card header */

.card-header h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 100%;
  margin: 2.5rem 0;
}

#text-input:focus {
  border: 2px solid #C27CF8;
  outline: none;
  box-shadow:0 0 10px 0 #D3A0FA;
}

#text-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.75rem;
  background-color: #e4e4ef;
  height: 200px;
  margin-bottom: 1rem;
  resize: none;
  transition: box-shadow 0.3s;
}

#text-input::placeholder,
#text-input {
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.6px;
}

.card-body {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
}

.exclude {
  display: flex;
  align-items: center;
}

.options > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.options-group {
  display: flex;
  align-items: center;
}

.options input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border-radius: 40px;
  margin-right: 0.7rem;
}

/* .options input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #C27CF8;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.option input[type="checkbox"]:checked {
  background-color: #C27CF8;
  border-color: #d3a0fa;
}

.option input[type="checkbox"]:checked::after {
  content: "\2714";
  position: absolute;
  color: black;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.option input[type="checkbox"]:hover {
  background-color: #C27CF8;
  border: 1px solid #d3a0fa;
}

.option input[type="checkbox"]:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 0 2px #d3a0fa;
}
*/


.options-group.exclude label,
.options-group.character label {
  cursor: pointer;
  margin-left: 8px;
} 


/* character limit styles */
#char-limit {
  display: none;
  width: 3.44rem;
  padding: 0.25rem 0.75rem;
  margin-left: 0.63rem;
  border: 1px solid #404254;
  border-radius: 0.38rem;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.limit-exceeded {
  border: 1px solid #DA3701 !important;
  outline: none;
  box-shadow: 0 0 8px 0 #DA3701 !important;
}



.limit-warning{
  display: none;
  align-items: center;
  gap: 0.5rem;
  color: #DA3701;
  margin-bottom: 1rem;
}

.limit-warning img {
  object-fit: cover;
flex-shrink: 0;
}



/* results */
.results {
  margin-top: 2.5rem;
}

.result-cards {
  display: grid;
  width: 100%;
  gap: 1rem;
}

.result-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.7rem 1.25rem;
  border-radius: 0.75rem;
  justify-content: center;
  background-color: #f2f2f7;
}

.result-card h2 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1px;
}

.result-card p {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  z-index: 1;
}

.result-card.characters {
  background-color: #d3a0fa;
}

.result-card.word {
  background-color: #ff9f00;
}

.result-card.sentence {
  background-color: #fe8159;
}

.character-svg,
.word-svg,
.sentence-svg {
  /* width: 100%;
    height: 100%; */
  position: absolute;
  top: 10;
  right: -50px;
}

.letter-density {
  margin-top: 1.5rem;
}

.letter-density p {
  display: none;
  margin-bottom: 1.25rem;
}

.letter-density h3 {
  margin-bottom: 1.25rem;
}

.placeholder-text{
  display: block;
}

/* character progress bar */
.bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.letter {
  width: 1rem;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.progress {
  padding: 0.16rem 0.88rem;
  flex-grow: 1;
}

.bar {
  height: 0.75rem;
  background: #f2f2f7;
  border-radius: 999px;
}

.fill {
  height: 100%;
  background: #d3a0fa;
  border-radius: 999px;
  transition: width 0.5s ease-out;        
}

.fill.p0 { width: 0%; }
.fill.p10 { width: 10%; }
.fill.p20 { width: 20%; }
.fill.p30 { width: 30%; }
.fill.p40 { width: 40%; }
.fill.p50 { width: 50%; }
.fill.p60 { width: 60%; }
.fill.p70 { width: 70%; }
.fill.p80 { width: 80%; }
.fill.p90 { width: 90%; }
.fill.p100 { width: 100%; }

.count {
  font-size: 14px;
  color: #333;
}

.hidden-bar {
  display: none;
}

.see-more-btn {
  display: none;
  margin-top: 1.25rem;
  background: none;
  color: #12131A;
  border: none;
  cursor: pointer;
}

.chevron-icon {
  width: 0.63rem;
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}








/* media Queries */



/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    padding: 2rem;
  }

  .card-header h1 {
    font-size: 64px;
    padding: 0 6.06rem;
    text-align: center;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 100%;
    margin: 2.5rem 0;
  }

  #text-input {
    padding: 1.25rem;
  }

  .options {
    display: flex;
    justify-content: space-between;
  }

  .options > div {
    flex-direction: row;
  }

  .options-group.exclude {
    margin-right: 1.25rem;
  }

  .card-body {
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: -0.6px;
  }

  .result-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .result-card h2 {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1px;
  }

  .letter-density h3 {
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
  }
}



/* desktop */
@media screen and (min-width: 1024px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 12.06rem;
  }

  .card-body {
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: -0.6px;
  }

  .card-header h1 {
    font-size: 64px;
    padding: 0 6.06rem;
    text-align: center;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 100%;
    margin: 2.5rem 0;
  }

  #text-input {
    padding: 1.25rem;
  }

  .options {
    display: flex;
    justify-content: space-between;
  }

  .options-group {
    flex-direction: row;
  }

  .options-group.exclude {
    margin-right: 1.25rem;
  }

  .result-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .result-card {
    padding: 1.66rem 1rem;
  }

  .result-card h2 {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1px;
  }

  .options > div {
    flex-direction: row;
  }
}
